body {
    font-family: 'Aeonik';
  }
  
  @font-face {
    font-family: 'Aeonik Medium';
    src:
      local('Aeonik-Medium'),
      url('./assets/fonts/Aeonik/Aeonik-Medium.otf') format('truetype');
  }
  
  @font-face {
    font-family: 'Aeonik';
    src:
      local('Aeonik-Regular'),
      url('./assets/fonts/Aeonik/Aeonik-Regular.otf') format('truetype');
  }
  
  @font-face {
    font-family: 'Neue Haas Unica';
    src:
      local('NeueHaasUnicaPro-Regular'),
      url('./assets/fonts/NeueHaasUnica/NeueHaasUnicaPro-Regular.ttf') format('truetype');
  }